
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.mainCol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 130px;
    background-color: #FFFFFF;
    /* box-shadow: 5px 10px; */
}
.counterClass{
    display: flex;
    flex-direction: row;
    border: 2px solid #B24242;
    width: 180.5px;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.counerElemin{
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 56px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.counerElenum{
    display: flex;
    flex-direction: row;
    border: 2px solid #B24242;
    width: 60px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background-color: #FBE8E8;
}
.counerEleplus{
    display: flex;
    flex-direction: row;
    width: 60px;
    height: 57px;
    justify-content: center;
    align-items: center;
    background-color: #B24242;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
}
.plus{
    color: white;
    font-size: 21px;
    font-weight: 900;
}
.minus{
    color: #B24242;
    font-size: 21px;
    font-weight: 900;
}
.counterVal{
    display: flex;
    flex-direction: row;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
}
.saveC{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    width: 180px;
    font-size: 12px;
    font-weight: 500;
}
.inputC{
    width: 55px !important;
    height: 54px;
    border: 2px solid #B24242 !important;
    /* border: none !important; */
    text-align: center !important;
    background-color: #FBE8E8 !important;
    color: #B24242 !important;
    font-weight: 900 !important;
    font-size: 21px;
}
.loadC{
    display: flex;
    align-items: center;
    justify-content: center;
}